TLR/backend/functions/TYI - Email Verification copy (1).json
{
  "name": "TYI - Email Verification copy",
  "nodes": [
    {
      "parameters": {
        "formTitle": "PDF upload ",
        "formFields": {
          "values": [
            {
              "fieldLabel": "pdf",
              "fieldType": "file",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -848,
        32
      ],
      "id": "7b03173d-783a-4523-b504-4c13cec7e182",
      "name": "On form submission",
      "webhookId": "0a5a9864-3761-4bd2-909a-8f36f1106a1c"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -624,
        -64
      ],
      "id": "0ef9d3b8-e36f-483a-b2fd-7c009fe3691d",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -400,
        32
      ],
      "id": "94a1a08e-221a-45f7-9c3d-a72f1e265986",
      "name": "Merge"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "id"
        },
        "responses": {
          "values": [
            {
              "content": "=task. you are a professional transcript analyzer. Do not hallucinate or make up input data. if you cannot find data for specific feilds leave blank. use your best judgement.\n\nUsing the input provided in {{ $json.text }}, extract and return a clean json object with the following structure \n\n'''json\n{\n\"StudentInformation_Name\": \"\",\n\"StudentInformation_CurrentProgram\": \"\",\n\"InstatutionCredit_CoursesTaken\":[\n{\n\"CourseTakenTitle\": \"\",\n\"CourseTakenGrade\": \"\",\n}\n],\n\"TotalInstitution_AttemptedHours\": \"\",\n\"TotalInstitution_PassedHours\": \"\",\n\"TotalInstitution_GPA\": \"\",\n\"CoursesInProgress_Title\": []\n}\n\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "=json_object",
              "verbosity": "=medium"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -176,
        32
      ],
      "id": "e6a738c1-fe4d-4ab0-bb7e-8ee3f90fb033",
      "name": "Message a model",
      "alwaysOutputData": true,
      "credentials": {
        "openAiApi": {
          "id": "HAbSfT0oVYvT9yZk",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "pdf",
        "name": "transcripts",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -624,
        128
      ],
      "id": "d333b5e1-4682-4489-b548-fac55cb0fe03",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4bEjiEB0xF2mdNDw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n\n  const data = item.json.output[0].content[0].text;\n\n  data.TotalInstitution_GPA = Number(data.TotalInstitution_GPA);\n  data.TotalInstitution_PassedHours = Number(data.TotalInstitution_PassedHours);\n  data.TotalInstitution_AttemptedHours = Number(data.TotalInstitution_AttemptedHours);\n\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        32
      ],
      "id": "eae21e5d-8bb9-45a4-a73e-84ce6254cf96",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "formTitle": "ClassSchedule",
        "formFields": {
          "values": [
            {
              "fieldLabel": "pdf",
              "fieldType": "file",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -944,
        640
      ],
      "id": "d9cb5d5e-06b9-48bd-8af1-56e342da5eae",
      "name": "On form submission1",
      "webhookId": "69338968-2c1f-4084-aed0-3ed1bf049953"
    },
    {
      "parameters": {
        "inputDataFieldName": "pdf",
        "name": "ClassSchedule",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -720,
        736
      ],
      "id": "299725b6-0021-4c5e-bc5a-08436ae87014",
      "name": "Upload file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "4bEjiEB0xF2mdNDw",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -496,
        640
      ],
      "id": "66ba901c-0da0-49ac-bb81-c94ee603ee3b",
      "name": "Merge1"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "id"
        },
        "responses": {
          "values": [
            {
              "content": "=task. you are a professional transcript analyzer. Do not hallucinate or make up input data. if you cannot find data for specific feilds leave blank. use your best judgement.\n\nUsing the input provided in {{ $json.text }}, extract and return a clean json object with the following structure \n\n'''json\n{\n  \"assignments\": [\n    {\n      \"assignment\": \"\",\n      \"start_date\": \"\",\n      \"due_date\": \"\",\n      \"details\": \"\",\n      \"type\": \"\"\n    }\n  ]\n}'''\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "=json_object",
              "verbosity": "=medium"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -272,
        640
      ],
      "id": "7846f114-3575-46e1-b9b1-9e5a3095c8ff",
      "name": "Message a model1",
      "alwaysOutputData": true,
      "credentials": {
        "openAiApi": {
          "id": "HAbSfT0oVYvT9yZk",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  const assignments = item.json.output?.[0]?.content?.[0]?.text?.assignments;\n\n  if (Array.isArray(assignments)) {\n    for (const assignment of assignments) {\n      assignment.start_date = assignment.start_date\n        ? new Date(assignment.start_date).toISOString()\n        : null;\n\n      assignment.due_date = assignment.due_date\n        ? new Date(assignment.due_date).toISOString()\n        : null;\n    }\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        640
      ],
      "id": "b113a7f9-134b-49b6-a9f6-6aeeb72a4a2a",
      "name": "Code in JavaScript1",
      "disabled": true
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "UyH4035k8jjF3VJJ",
          "mode": "list",
          "cachedResultName": "CalandarInfo",
          "cachedResultUrl": "/projects/i9VW9fxcZqHUOh16/datatables/UyH4035k8jjF3VJJ"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "assignment": "={{ $json.output[0].content[0].text.assignments[1].assignment }}",
            "start_date": "={{ $json.output[0].content[0].text.assignments[1].start_date }}",
            "end_date": "={{ $json.output[0].content[0].text.assignments[1].due_date }}",
            "type": "={{ $json.output[0].content[0].text.assignments[1].type }}",
            "details": "={{ $json.output[0].content[0].text.assignments[1].details }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "assignment",
              "displayName": "assignment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "details",
              "displayName": "details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "start_date",
              "displayName": "start_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "end_date",
              "displayName": "end_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        304,
        640
      ],
      "id": "114d3b04-7aed-4608-9797-a78a46545a2a",
      "name": "Insert row2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "17a27616-1c9c-43a0-9275-10f5fb2fd4fe",
              "leftValue": "={{ $json.output[0].content[0].text.TotalInstitution_GPA }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        400,
        32
      ],
      "id": "d8d56a7b-c748-4895-8189-f95e3802d8c4",
      "name": "If gpa >= 3.0"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "=tutoringApproval"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "CurrentGPA": "={{ $json.output[0].content[0].text.TotalInstitution_GPA }}",
            "name": "={{ $json.output[0].content[0].text.StudentInformation_Name }}",
            "degree": "={{ $json.output[0].content[0].text.StudentInformation_CurrentProgram }}",
            "approvedGPA": "={{ true }}",
            "CourseTakenTitle": "={{ $json.output[0].content[0].text.InstatutionCredit_CoursesTaken.map(c => c.CourseTakenTitle).join(\", \") }}",
            "CourseTakenGrade": "={{ $json.output[0].content[0].text.InstatutionCredit_CoursesTaken.map(c => c.CourseTakenGrade).join(\", \") }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "degree",
              "displayName": "degree",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CurrentGPA",
              "displayName": "CurrentGPA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "approvedGPA",
              "displayName": "approvedGPA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CourseTakenTitle",
              "displayName": "CourseTakenTitle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CourseTakenGrade",
              "displayName": "CourseTakenGrade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        624,
        -64
      ],
      "id": "ac92c1b7-18fa-4d76-9119-51cef62e2c50",
      "name": "approvedForTutoring"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "mode": "name",
          "value": "=tutoringApproval"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "approvedGPA": false,
            "CurrentGPA": "={{ $json.output[0].content[0].text.TotalInstitution_GPA }}",
            "degree": "={{ $json.output[0].content[0].text.StudentInformation_CurrentProgram }}",
            "name": "={{ $json.output[0].content[0].text.StudentInformation_Name }}",
            "CourseTakenTitle": "={{ $json.output[0].content[0].text.InstatutionCredit_CoursesTaken.map(c => c.CourseTakenTitle).join(\", \") }}",
            "CourseTakenGrade": "={{ $json.output[0].content[0].text.InstatutionCredit_CoursesTaken.map(c => c.CourseTakenGrade).join(\", \") }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "degree",
              "displayName": "degree",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CurrentGPA",
              "displayName": "CurrentGPA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "approvedGPA",
              "displayName": "approvedGPA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CourseTakenTitle",
              "displayName": "CourseTakenTitle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CourseTakenGrade",
              "displayName": "CourseTakenGrade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        624,
        128
      ],
      "id": "2f32aec0-f305-40ee-bcf4-d4bcc437b5a4",
      "name": "deniedTutoring"
    },
    {
      "parameters": {
        "fieldToSplitOut": "=courses",
        "include": "selectedOtherFields",
        "fieldsToInclude": "={{ $(\"approvedForTutoring\").item.json.name }}",
        "options": {}
      },
      "id": "34d0ff79-52d9-4e45-b6b8-40db73d616e5",
      "name": "Split Courses",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1232,
        -64
      ]
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n\n  item.json.CourseTakenTitle = item.json.CourseTakenTitle\n    .split(\",\")\n    .map(c => c.trim());\n\n  item.json.CourseTakenGrade = item.json.CourseTakenGrade\n    .split(\",\")\n    .map(g => g.trim());\n\n}\n\nreturn $input.all();"
      },
      "id": "62c1d945-5acd-4d68-a834-674778c7ad46",
      "name": "strings to arrays",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        -64
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\n\nconst titles = item.json.CourseTakenTitle;\nconst grades = item.json.CourseTakenGrade;\n\nitem.json.courses = titles.map((title, i) => ({\n  course: title,\n  grade: grades[i] || null\n}));\n\nreturn item;"
      },
      "id": "813f9a43-d876-4109-b697-95fedc857658",
      "name": "combining arrays",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        -64
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const item = $input.item;\n\nitem.json.course = item.json.courses.course;\nitem.json.grade = item.json.courses.grade;\n\ndelete item.json.courses;\n\nreturn item;"
      },
      "id": "2f2aecbd-b540-43b2-b357-dc7f65208873",
      "name": "coursesTableGen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        -64
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "17a27616-1c9c-43a0-9275-10f5fb2fd4fe",
              "leftValue": "={{ $('Split Courses').item.json.courses.grade }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1936,
        -64
      ],
      "id": "582f44b2-da08-4cc1-9792-33658402852a",
      "name": "If gpa >= 3."
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "=TutoringClasses",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $('approvedForTutoring').item.json.name }}",
            "class_name": "={{ $json.course }}",
            "class_grade": "={{ $json.grade }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "class_name",
              "displayName": "class_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "class_grade",
              "displayName": "class_grade",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CanTutorSubject",
              "displayName": "CanTutorSubject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1696,
        -64
      ],
      "id": "5e0482b5-f5c7-4197-83e7-0a4e14276318",
      "name": "approvedForTutoring1"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -720,
        544
      ],
      "id": "593d7fe3-777d-4947-9b71-116288277276",
      "name": "Extract from schedule"
    },
    {
      "parameters": {
        "path": "ca8a7c70-d30d-407e-997c-f463755d112d",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1120,
        32
      ],
      "id": "dd9fed38-d354-4834-ab43-e542d759f6e5",
      "name": "Webhook",
      "webhookId": "ca8a7c70-d30d-407e-997c-f463755d112d"
    },
    {
      "parameters": {
        "path": "8641d142-767c-4d56-a302-1afabf41acff",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1408,
        640
      ],
      "id": "d398541e-eabc-4161-bc4e-8556ab725f1c",
      "name": "Webhook1",
      "webhookId": "8641d142-767c-4d56-a302-1afabf41acff"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "9cf9c699-8302-42b1-bcb1-cee0d396803d",
        "options": {}
      },
      "id": "c9b7f23e-f8cc-4320-8dcb-f8cc295c5e58",
      "name": "Login",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1424,
        1232
      ],
      "webhookId": "9cf9c699-8302-42b1-bcb1-cee0d396803d"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "eed561f4-22c1-482b-ac39-a54a2dae3b3f",
              "leftValue": "{{#json.id}}",
              "rightValue": "is not empty",
              "operator": {
                "type": "object",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -336,
        1232
      ],
      "id": "ccfef74a-7fb2-4a87-8834-f1c2b36bc116",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"message\": \"Invalid credentials\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -128,
        1376
      ],
      "id": "fb6230c6-fb56-4d85-b1ec-afb14375e659",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst submittedPassword = $json.submittedPassword;\nconst storedPassword = $json.password;\n\n// compare the entered password to the database password\nconst passwordValid = submittedPassword === storedPassword;\n\nreturn [\n  {\n    json: {\n      ...$json,\n      passwordValid: passwordValid\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        1104
      ],
      "id": "fc941d30-ab2e-4930-bb4f-73b5b6cce698",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, username, email, phone, password\nFROM accountInfo\nWHERE LOWER(username) = LOWER($1)\n   OR LOWER(email) = LOWER($1)\n   OR phone = $2\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -544,
        1232
      ],
      "id": "c641a8cd-5645-4952-a53f-7ab9ee131a67",
      "name": "checking db for identifier"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst raw = ($json.identifier || \"\").trim();\n\nconst phone = raw.replace(/\\D/g, '');\n\nreturn [\n  {\n    json: {\n      ...$json,\n      identifier: raw.toLowerCase(),\n      phoneDigits: phone\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        1232
      ],
      "id": "c5f7b229-7e72-4336-b3e1-9c4af8ba224f",
      "name": "true number"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"message\": \"Invalid credentials\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        528,
        640
      ],
      "id": "ea662bb7-f0d7-47f9-bf8d-78a7c15ad9ed",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"message\": \"Invalid credentials\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        848,
        128
      ],
      "id": "ba2bd9e6-da4a-4d73-92a5-2e884e437d55",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"message\": \"Invalid credentials\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2160,
        -176
      ],
      "id": "562e20cb-6cb3-44ab-a488-49bb0acfc7aa",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"message\": \"Invalid credentials\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2176,
        64
      ],
      "id": "2ee3b6bc-7034-4bfd-baa2-a61f3fcc62df",
      "name": "Respond to Webhook4"
    },
    {
      "parameters": {
        "action": "hmac"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 2,
      "position": [
        -1152,
        640
      ],
      "id": "7c8b9bc7-17c4-40ce-b04d-068a3c63ff9d",
      "name": "for file hasing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 2,
      "position": [
        -1184,
        1232
      ],
      "id": "0c089f9d-9322-4f1a-b015-f81d84454d0e",
      "name": "passsword + identifier hashing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2a474411-4e87-4107-b95b-0d2632cb4a96",
              "name": "identifier",
              "value": "={{$json.body.identifier}}",
              "type": "string"
            },
            {
              "id": "1e77c469-ed88-4bd7-9850-ce5237a92373",
              "name": "password",
              "value": "",
              "type": "string"
            },
            {
              "id": "f7e743ef-a04b-4ff9-8a45-3d7d8362e691",
              "name": "submittedPassword",
              "value": "={{$json.body.password}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "dotNotation": false
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -960,
        1232
      ],
      "id": "f6767e98-edde-486d-be47-64ad93cebcbd",
      "name": "takes in identifier + password entered"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If gpa >= 3.0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission1": {
      "main": [
        [
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract from schedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Insert row2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If gpa >= 3.0": {
      "main": [
        [
          {
            "node": "approvedForTutoring",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "deniedTutoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "approvedForTutoring": {
      "main": [
        [
          {
            "node": "strings to arrays",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "deniedTutoring": {
      "main": [
        []
      ]
    },
    "Split Courses": {
      "main": [
        [
          {
            "node": "coursesTableGen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "strings to arrays": {
      "main": [
        [
          {
            "node": "combining arrays",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "combining arrays": {
      "main": [
        [
          {
            "node": "Split Courses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "coursesTableGen": {
      "main": [
        [
          {
            "node": "approvedForTutoring1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "approvedForTutoring1": {
      "main": [
        [
          {
            "node": "If gpa >= 3.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from schedule": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Login": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "checking db for identifier": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "true number": {
      "main": [
        [
          {
            "node": "checking db for identifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "takes in identifier + password entered": {
      "main": [
        [
          {
            "node": "true number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8e9310b1-faa1-46ea-bbde-107ecc86923c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f93d096b2b7bfa5a94a1e91e392dd38957312836601cb1834b07d05589a6703d"
  },
  "id": "1ENLqWEq13nLXG5F",
  "tags": [
    {
      "updatedAt": "2026-03-12T02:33:50.425Z",
      "createdAt": "2026-03-12T02:33:50.425Z",
      "id": "d2iwWlEy2B5cEta4",
      "name": "verification"
    },
    {
      "updatedAt": "2026-03-12T02:33:50.452Z",
      "createdAt": "2026-03-12T02:33:50.452Z",
      "id": "mahwGGCCFUSUu9tu",
      "name": "auth"
    },
    {
      "updatedAt": "2026-03-12T02:33:50.478Z",
      "createdAt": "2026-03-12T02:33:50.478Z",
      "id": "o7uyMQaC3g7vKUDU",
      "name": "email"
    }
  ]
}